body {
        	margin: 0 auto;
            max-width: 70em;
            font-family: "Helvetica", "Arial", sans-serif;
            line-height: 1.5;
            padding: 1em 1em;
            color: black;
        	background-color: powderblue;
        }
        h2 {
        	margin-top: 0em;
            padding-top: 1em;
        }
        h1, h2 {
        	color: red;
        }
        strong {
        	color:green;
        }

        
        p {
        
            


        }






        }